<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error - Page Not Found</title>
  </head>
  <body>
    <a href="/">
      <img
        src="/product_images/furniture-404-page.jpg"
        alt="404 Error - Page Not Found"
        width="100%"
      />
      <p style="text-align: center">Back to Home</p>
    </a>
  </body>
</html>
